body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
  text-align: center;
  color: #9fabb2;
  background: url("../images/bg-header-mobile.png") no-repeat top right;
}
@media screen and (min-width: 576px) {
  body {
    background: url("../images/bg-header-desktop.png") no-repeat top right;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button,
footer {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  color: #4c545d;
  line-height: 1.1;
}

p {
  font-size: 0.85em;
  line-height: 1.6;
  letter-spacing: 1px;
}
@media screen and (min-width: 576px) {
  p {
    letter-spacing: normal;
    width: 60%;
    margin: 0 auto;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 120px 0 40px 0;
}
@media screen and (min-width: 576px) {
  .container {
    width: 80%;
    padding: 90px 0 60px 0;
  }
}

.logo {
  width: 125px;
  height: 125px;
  margin: 0 auto;
}

.devices-copy h1 {
  font-size: 1.75em;
  margin-top: 60px;
  margin-bottom: 20px;
}

.download-btns {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 576px) {
  .download-btns {
    margin: 0 auto;
    width: 40%;
    flex-direction: row;
    justify-content: center;
  }
}
.download-btns button {
  border: none;
  outline: none;
  color: white;
  letter-spacing: 1px;
  font-size: 1em;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 38px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.download-btns button:hover {
  cursor: pointer;
  opacity: 0.7;
}
@media screen and (min-width: 576px) {
  .download-btns button {
    padding: 13px 30px;
    letter-spacing: 1px;
    font-size: 0.75em;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.download-btns .ios {
  background: #26baa4;
  box-shadow: 0px 10px 10px rgba(137, 229, 199, 0.5);
}
@media screen and (min-width: 576px) {
  .download-btns .ios {
    margin-right: 10px;
  }
}
.download-btns .mac {
  background: #6173ff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 576px) {
  .download-btns .mac {
    margin-left: 10px;
  }
}

.advantages {
  margin-top: 120px;
  margin-bottom: 40px;
}
@media screen and (min-width: 576px) {
  .advantages {
    margin-top: 80px;
    margin-bottom: 30px;
  }
}
.advantages h2 {
  letter-spacing: 1.2px;
}

.device-img {
  margin-top: 80px;
}
@media screen and (min-width: 576px) {
  .device-img {
    margin: 80px auto 0 auto;
    width: 850px;
    height: auto;
  }
}

.features-container-one,
.features-container-two {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 35px;
  grid-column-gap: 0;
}
.features-container-one h3,
.features-container-two h3 {
  margin-top: 35px;
  margin-bottom: 15px;
}

.feature-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 35px;
  grid-column-gap: 0;
}
@media screen and (min-width: 576px) {
  .feature-content {
    grid-row-gap: 0;
    text-align: left;
    margin-top: 40px;
  }
  .feature-content h3 {
    width: 60%;
    margin: 0 auto 10px auto;
  }
}

@media screen and (min-width: 576px) {
  .features-container-one {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }
  .features-container-one .computer-img {
    margin-left: -165px;
  }
}

.features-container-two .feature-img {
  width: 44px;
  height: 40px;
  margin: 0 auto;
}
@media screen and (min-width: 576px) {
  .features-container-two {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0;
    grid-column-gap: 15px;
  }
}

.partners {
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 85px;
  grid-column-gap: 0;
}
@media screen and (min-width: 576px) {
  .partners {
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 0;
    grid-column-gap: 15px;
  }
}
.partners .google,
.partners .ibm,
.partners .microsoft,
.partners .hp,
.partners .vectors {
  margin: 0 auto;
  width: 165px;
  height: 49px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 80px;
}
@media screen and (min-width: 576px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 140px 10px 140px;
    align-items: center;
  }
}
.footer .data {
  color: black;
  direction: flex;
  flex-direction: column;
}
@media screen and (min-width: 576px) {
  .footer .data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
  }
}
.footer .data .logo-footer {
  width: 62.5px;
  height: 62.5px;
  margin: 25px auto;
}
.footer .data p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer .data p:hover {
  color: #26baa4;
  cursor: pointer;
}
@media screen and (min-width: 576px) {
  .footer .data p {
    width: 100%;
    text-align: left;
  }
}
.footer .social {
  width: 45%;
  margin: 20px auto;
}
@media screen and (min-width: 576px) {
  .footer .social {
    width: 13%;
    margin: 0 0 0 auto;
  }
}
.footer .social ul {
  display: flex;
  justify-content: space-around;
}
.footer .social ul li {
  width: 24px;
  height: 24px;
}
.footer .social ul li:hover {
  cursor: pointer;
}